<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<customPointParamDescription>
		<pointParamDescription key="bearingChangeHighCheck" description="是否监测磨煤机轴承温度升速率高" />
	</customPointParamDescription>
	<customFunParamDescription>
		<funParamDescription key=""  description="" />
	</customFunParamDescription>
</configuration>