<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<moduleinfo name="磨煤机" description="监视磨煤机运行">

	</moduleinfo>
	<params>
		<param name="period" value="60"  description="任务运行周期（秒）" type="int"></param>
		<param name="param2" value="paramvalue"  description="param2描述" type=""></param>
		<param name="param3" value="paramvalue"  description="param3描述" type=""></param>
	</params>
	<funs>
		<fun name="fun1" value="true" description="fun1描述" />
		<fun name="fun2" value="false" description="fun2描述" />
	</funs>
</configuration>