<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<taskinfo name="6号机脱硝" assembly="Boiler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" class="Boiler.SCR" description="6号机脱硝" >


</taskinfo>	
	<points>
		<point name="chimneyOutNox" id="CSDC.DCS6AI.60HTA60CQ003XQ01" type="double" description="6号炉烟囱出口NOX浓度"></point>
		<point name="valveSCR" id="CSDC.DCS6AI.09HSJ03AA106-LP" type="int" description="6号炉喷氨隔绝门"></point>
		<point name="dilutPumpA" id="CSDC.DCS6AI.60BJP02GH003-LP" type="int" description="6A稀释风机"></point>
		<point name="dilutPumpB" id="CSDC.DCS6AI.60BJP02GH004-LP" type="int" description="6B稀释风机"></point>
		<point name="dilutPumpATemp1" id="CSDC.DCS6AI.60HLX10CT001XQ01" type="double" description="6A稀释风机轴承温度1"></point>
		<point name="dilutPumpATemp2" id="CSDC.DCS6AI.60HLX10CT002XQ01" type="double" description="6A稀释风机轴承温度2"></point>
		<point name="dilutPumpBTemp1" id="CSDC.DCS6AI.60HLX20CT001XQ01" type="double" description="6B稀释风机轴承温度1"></point>
		<point name="dilutPumpBTemp2" id="CSDC.DCS6AI.60HLX20CT002XQ01" type="double" description="6B稀释风机轴承温度2"></point>
		<point name="scrEfficiency" id="CSDC.DCS6AI.SCRTXXL001" type="double" description="6号炉脱硝效率"></point>
		<point name="NH3P" id="CSDC.DCS6AI.09HSJ03CP004" type="double" description="6号炉氨气压力"></point>
	<point name="sootBlowingSLC" id="CSDC.DCS6AI.SBWRAL1SEQRUN" type="boolean" description="6号炉脱硝声波吹灰SLC"></point>
	</points>		
	<params>
		<param name="period" value="60"  description="任务运行周期（秒）" type="int"></param>
</params>
	<funs>

	</funs>

</configuration>