<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component name="Logger服务" description="用于记录任务消息、任务错误、组件错误等内容" defaultUsed="true" 
				   assembly="Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"  class="UnitMonitorServer.Components.Logger.LoggerManager" configFile="Logger.config"/>
		<component name="统计服务" description="用于统计任务及任务容器的运行情况，如果此组件停用，将不会统计这些数据" defaultUsed="true" 
				  assembly="Statistics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"  class="UnitMonitorServer.Components.statistics.StatisticsManager" configFile="Statistics.config" />
		<component name="WCF服务" description="用于通过WCF服务向客户端发送消息，当此组件停用，客户端将无法接收任务发送的消息" defaultUsed="true" 
				  assembly="WCFService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"   class="UnitMonitorServer.Components.WCFService.WCFServiceManager" configFile="WCFService.config"/>
	
	</components>
</configuration>