<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<taskinfo name="5C磨" assembly="Boiler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" class="Boiler.Mill" description="" >


</taskinfo>	
	<points>
		<point name="heatterState" id="CSDC.DCS5AI.50HFC10AH011-LP" type="int" depend="" description="5A磨电加热"></point>
		<point name="millRunState" id="CSDC.DCS5AI.50HFC10AJ001-LP" type="int" depend="" description="5A磨煤机"></point>
		<point name="feederRunState" id="CSDC.DCS5AI.50HFB10AF001-LP" type="int" depend="" description="5A给煤机"></point>
		<point name="feederCleanRunState" id="CSDC.DCS5AI.50HFB10AP011XB01" type="bool"  depend="" description="5A给煤机清扫链"></point>
		<point name="oilPumpState" id="CSDC.DCS5AI.50HFC10AP011-LP" type="int"  depend="" description="5A磨油泵"></point>
		<point name="cycloneState" id="CSDC.DCS5AI.50HFV14GW001XB01" type="bool" depend="" description="5A磨旋转分离器"></point>
		<point name="heatterSLC" id="CSDC.DCS5AI.AMILLLUBHTR-LOCK" type="bool" depend="" description="5A磨电加热SLC"></point>
		<point name="valveColdCut" id="CSDC.DCS5AI.50HFE10AA010-LP" type="int" depend="" description="5A磨冷风隔绝门"></point>
		<point name="valveHotCut" id="CSDC.DCS5AI.50HFE10AA020-LP" type="int" depend="" description="5A磨热风隔绝门"></point>
		<point name="valveInnerCut" id="CSDC.DCS5AI.50HFE10AA030-LP" type="int" depend="" description="5A磨进口快关门"></point>
		<point name="valveHotCut" id="CSDC.DCS5AI.50HFE10AA020-LP" type="int" depend="" description="5A磨热风隔绝门"></point>
		<point name="valveMillSeal" id="CSDC.DCS5AI.50HFW10AA041-LP" type="int" depend="" description="5A磨密封风门"></point>
		<point name="valveFireSteam" id="CSDC.DCS5AI.50LBG85AA041-LP" type="int" depend=""  description="5A磨灭火蒸汽门"></point>
		<point name="valveFeederOut" id="CSDC.DCS5AI.50HFB10AA001-LP" type="int" depend="" description="5A给煤机下阀"></point>
		<point name="valveFeederIn" id="CSDC.DCS5AI.50HFA10AA001-LP" type="int" depend="" description="5A给煤机上阀"></point>
		<point name="valveFeederSeal" id="CSDC.DCS5AI.50HFW10AA011-LP" type="int" depend="" description="5A给煤机密封风门"></point>
		<point name="adjustColdAM" id="CSDC.DCS5AI.FA-MILLACOLDCVMA" type="int" depend="" description="5A磨冷风调门手自动状态"></point>
		<point name="adjustHotAM" id="CSDC.DCS5AI.FA-MILLAHOTCVMA" type="int" depend="" description="5A磨热风调门手自动状态"></point>
		<point name="adjustColdValue" id="CSDC.DCS5AI.50HFE10CG110XQ01" type="double" depend=""  description="5A磨冷风调门开度"></point>
		<point name="adjustHotValue" id="CSDC.DCS5AI.50HFE10CG120XQ01" type="double" depend="" description="5A磨热风调门开度"></point>
		<point name="tankTemp" id="CSDC.DCS5AI.50HFC10CT009" type="double" depend="" description="5A磨油箱油温"></point>
		<point name="oilP" id="CSDC.DCS5AI.50HFC10CP007" type="double" depend="" description="5A磨油压"></point>
		<point name="millCurrent" id="CSDC.DCS5AI.50HFC10AJ001XQ01" type="double" depend="" description="5A磨电流"></point>
		
	</points>		
	<params>
		<param name="tankTempH" value="50"  description="磨煤机油箱油温高设定值" type="double"></param>
		<param name="tankTempHR" value="46"  description="磨煤机油箱油温高复位值" type="double"></param>
		<param name="oilPL" value="0.15"  description="磨煤机油压低报警值" type="double"></param>
		<param name="oilPH" value="0.45"  description="磨煤机油压高报警值" type="double"></param>
</params>
	<funs>
		<fun name="fun1" value="true" description="fun1描述" />
		<fun name="fun2" value="false" description="fun2描述" />
	</funs>

</configuration>

