<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<taskinfo name="5号机脱硝" assembly="Boiler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" class="Boiler.SCR" description="5号机脱硝" >


	</taskinfo>
	<points>
		<point name="valveHPA" id="CSDC.DCS5AI.50LBF12CG101XQ01" type="double" description="5A高旁减压阀开度"></point>
		<point name="valveHPB" id="CSDC.DCS5AI.50LBF11CG101XQ01" type="double" description="5B高旁减压阀开度"></point>
		<point name="valveHPC" id="CSDC.DCS5AI.50LBF13CG101XQ01" type="double" description="5C高旁减压阀开度"></point>
		<point name="valveHPD" id="CSDC.DCS5AI.50LBF14CG101XQ01" type="double" description="5D高旁减压阀开度"></point>
		<point name="valveHPWaterA" id="CSDC.DCS5AI.50LBF50CG112XQ01" type="int" description="5A高旁减温调门开度"></point>
		<point name="valveHPWaterB" id="CSDC.DCS5AI.50LBF50CG111XQ01" type="int" description="5B高旁减温调门开度"></point>
		<point name="valveHPWaterC" id="CSDC.DCS5AI.50LBF50CG113XQ01" type="int" description="5C高旁减温调门开度"></point>
		<point name="valveHPWaterD" id="CSDC.DCS5AI.50LBF50CG114XQ01" type="int" description="5D高旁减温调门开度"></point>
		
		<point name="HPQuickOpen" id="CSDC.DCS5AI.HP-D28P208HBPFOP" type="boolean" description="5号机高旁快开"></point>
		<point name="HPAuto" id="CSDC.DCS5AI.HPCMAUTO" type="boolean" description="5号机高旁控制自动"></point>
		
		<point name="valveHPAMA" id="CSDC.DCS5AI.HP-V2-MODE" type="boolean" description="5A高旁减压阀手自动"></point>
		<point name="valveHPBMA" id="CSDC.DCS5AI.HP-V1-MODE" type="boolean" description="5B高旁减压阀手自动"></point>
		<point name="valveHPCMA" id="CSDC.DCS5AI.HP-V4-MODE" type="boolean" description="5C高旁减压阀手自动"></point>
		<point name="valveHPDMA" id="CSDC.DCS5AI.HP-V3-MODE" type="boolean" description="5D高旁减压阀手自动"></point>
		<point name="valveHPWaterAMA" id="CSDC.DCS5AI.HP-SPRAYV2-MODE" type="boolean" description="5A高旁减温调门手自动"></point>
		<point name="valveHPWaterBMA" id="CSDC.DCS5AI.HP-SPRAYV1-MODE" type="boolean" description="5B高旁减温调门手自动"></point>
		<point name="valveHPWaterCMA" id="CSDC.DCS5AI.HP-SPRAYV4-MODE" type="boolean" description="5C高旁减温调门手自动"></point>
		<point name="valveHPWaterDMA" id="CSDC.DCS5AI.HP-SPRAYV3-MODE" type="boolean" description="5D高旁减温调门手自动"></point>
		
		<point name="valveHPWaterAStop" id="CSDC.DCS5AI.50LBF50AA012-LP" type="int" description="5A高旁减温隔绝门"></point>
		<point name="valveHPWaterBStop" id="CSDC.DCS5AI.50LBF50AA011-LP" type="int" description="5B高旁减温隔绝门"></point>
		<point name="valveHPWaterCStop" id="CSDC.DCS5AI.50LBF50AA014-LP" type="int" description="5C高旁减温隔绝门"></point>
		<point name="valveHPWaterDStop" id="CSDC.DCS5AI.50LBF50AA013-LP" type="int" description="5D高旁减温隔绝门"></point>
		
		<point name="HPATemp1" id="CSDC.DCS5AI.50LBC32CT001" type="double" description="5A高旁减压阀阀后温度1"></point>
		<point name="HPATemp2" id="CSDC.DCS5AI.50LBC32CT002" type="double" description="5A高旁减压阀阀后温度2"></point>
		<point name="HPBTemp1" id="CSDC.DCS5AI.50LBC31CT001" type="double" description="5B高旁减压阀阀后温度1"></point>
		<point name="HPBTemp2" id="CSDC.DCS5AI.50LBC31CT002" type="double" description="5B高旁减压阀阀后温度2"></point>
		<point name="HPCTemp1" id="CSDC.DCS5AI.50LBC34CT001" type="double" description="5C高旁减压阀阀后温度1"></point>
		<point name="HPCTemp2" id="CSDC.DCS5AI.50LBC34CT002" type="double" description="5C高旁减压阀阀后温度2"></point>
		<point name="HPDTemp1" id="CSDC.DCS5AI.50LBC33CT001" type="double" description="5D高旁减压阀阀后温度1"></point>
		<point name="HPDTemp2" id="CSDC.DCS5AI.50LBC33CT002" type="double" description="5D高旁减压阀阀后温度2"></point>
		
		<point name="valveLPA" id="CSDC.DCS5AI.50MAP12CG101XQ01" type="double" description="5A低旁减压阀开度"></point>
		<point name="valveLPB" id="CSDC.DCS5AI.50MAP11CG101XQ01" type="double" description="5B低旁减压阀开度"></point>
		
		<point name="valveLPWaterA" id="CSDC.DCS5AI.50LCE52CG101XQ01" type="double" description="5A低旁减温调门开度"></point>
		<point name="valveLPWaterB" id="CSDC.DCS5AI.50LCE51CG101XQ01" type="double" description="5B低旁减温调门开度"></point>
		<point name="valveLPAMA" id="CSDC.DCS5AI.LP-AMOD" type="boolean" description="5A低旁减压阀手自动"></point>
		<point name="valveLPBMA" id="CSDC.DCS5AI.LP-BMOD" type="boolean" description="5B低旁减压阀手自动"></point>
		<point name="valveLPWaterAMA" id="CSDC.DCS5AI.LPSPARY1-MODE" type="boolean" description="5A低旁减温调门手自动"></point>
		<point name="valveLPWaterBMA" id="CSDC.DCS5AI.LPSPARY2-MODE" type="boolean" description="5B低旁减温调门手自动"></point>
		<point name="valveLPWaterAStop" id="CSDC.DCS5AI.50LCE52AA001-LP" type="int" description="5A低旁减温水隔绝门"></point>
		<point name="valveLPWaterBStop" id="CSDC.DCS5AI.50LCE51AA001-LP" type="int" description="5B低旁减温水隔绝门"></point>
		<point name="LPAuto" id="CSDC.DCS5AI.LBPPCAUTO" type="boolean" description="5号机低旁控制自动"></point>
		<point name="LPQuickClose" id="CSDC.DCS5AI.LBPQUICKCLS" type="boolean" description="5号机低旁快关动作"></point>
		<point name="LPPressureSP" id="CSDC.DCS5AI.LBPRMTSP-OUT" type="double" description="5号机低旁压力设定值"></point>
		<point name="LPPressurePV" id="CSDC.DCS5AI.LP-A28P225RHPRS" type="double" description="5号机低旁压力实际值"></point>
		<point name="LPATemp" id="CSDC.DCS5AI.50MAP12CT001" type="double" description="5A低旁减压阀阀后温度"></point>
		<point name="LPBTemp" id="CSDC.DCS5AI.50MAP11CT001" type="double" description="5B低旁减压阀阀后温度"></point>
	</points>
	<params>
		<param name="period" value="60"  description="任务运行周期（秒）" type="int"></param>
	</params>
	<funs>

	</funs>

</configuration>